<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RSAlertView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE24F9AF1CFD93A700E7EF53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE24F9C81CFD93A700E7EF53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE24F9D31CFD93A700E7EF53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
